.body
{
  color: lightblue;
}
#wrapper {
  margin-left:auto;
  margin-right:auto;
  width:1000px;
}
.allTabs /*Tabs*/
{
  width: 100%;
  overflow: hidden;
  display: inline-block;
  padding: 10px;
  background-color: lightblue;
}
.button { /*Tabs*/
  width: 300px;
  overflow-x: none;
  position: relative;
  background-color: #0000cc;
  border-color: #000000;
  border-radius: 12px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin-right: 20px;
  cursor: pointer;
  box-shadow: 0 9px #999;


}
.button:hover {/*Tabs on hovor*/
  color: white;
}
.button:active /*Tabs when clicked*/
{
  transform: translateY(10px);
}
#button1
{
  background-color: #A569BD;
  transform: translateY(10px);

}
#bodyAll
{
  background-color: lightblue; /*backgroundColor*/
}
#introCoolPic /*Intro Pic*/
{
  float: left;
  width: 500px;
  height: 350px;
  border-radius: 50px;
  margin-left: 40px;
margin: 50px 50px 100px 10px;

}
#meetMeIntroText /*Intro text*/
{
  float: right;
  margin-bottom: 30px;
  padding-top: 20px;
font-size: 20px;
  width: 400px;
  height: 400px;
  font-family:  sans-serif;

}

/* This is the beginning on the animated icons on the first page */
.introTextPics img
{
  float: right;
  display: inline;
}
.levPics1/*Icons in meet me intro. THE ODD ONES MOVING TO THE LEFT*/
{

  width: 110px;
  height: 110px;
  position:relative;
  -webkit-animation-name: movesLeft;
  -webkit-animation-duration: 15s;
  -webkit-animation-iteration-count: infinite;
  animation-name: movesLeft;
  animation-duration: 7s;
  animation-iteration-count: infinite;
}
<!--
@keyframes movesLeft {
  0%   {top:50px; }
  50%  {top:150px; }
  100% {top:50px;}
}

.levPics2/*Icons in meet me intro. THE ODD ONES MOVING TO THE LEFT*/
{
  z-index: -1;
  left: 440px;
  padding-left: 9px;
  padding-right: 3px;
  width: 100px;
  height: 100px;
  position:relative;
  -webkit-animation-name: movesRight;
  -webkit-animation-duration: 15s;
  -webkit-animation-iteration-count: infinite;
  animation-name: movesRight;
  animation-duration: 7s;
  animation-iteration-count: infinite;
}
@keyframes movesRight {
  0%   {top:240px; }
  50%  {top:105px; }
  100% {top:240px;}
}
/* The styling for the see me page */
.pictureFrames
{
  margin-left:auto;
  margin-right:auto;
  width:1000px;
}
.pictureFrames img
{
  min-width: 100px;
  height: 350px;
  background: white;
  display: inline;
  float: left;
  margin: 10 0px 30px;
  padding: 10px 10px 30px;
  text-align: center;
  text-decoration: none;
  -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
  -moz-box-shadow: 0 4px 6px rgba(0,0,0,.3);
  box-shadow: 0 4px 6px rgba(0,0,0,.3);
  -webkit-transition: all .15s linear;
  -moz-transition: all .15s linear;
  transition: all .15s linear;
  z-index:0;
  position: relative;
}
/*thumbTacks for see me page */
#thumbTacks
{
  position: relative;
  width: 50px;
  height: 50px;
}
/* Form contact box on Contact Me Page */
.contactBox
{
  width: 100%;
  height: 30px;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 20px;
}
.centered
{
  text-align: center;
  width: 100%;
}
.textarea
{
  width: 100%;
  height: 200px;
  resize: none;
}
