@import url('https://fonts.googleapis.com/css?family=Roboto');
#wrapper {
  margin-left:auto;
  margin-right:auto;
  width:1000px;
}
#bodyAll
{
  background-color: #B3EFB2; /*backgroundColor*/
}
/* This is the beginning of the style for the buttons at the top*/
.allTabs /*Tabs*/
{
  width: 100%;
  overflow: hidden;
  display: inline-block;
  padding: 10px;
  background-color: inherit;
}
.button { /*Tabs*/
  width: 300px;
  overflow-x: none;
  position: relative;
  background-color: white;
  border-color: #000000;
  border-radius: 12px;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 26px;
  margin-right: 20px;
  cursor: pointer;
  outline: none;
  font-family: 'Roboto', sans-serif;

}
#button1
{
  box-shadow: 0 0 5px #999999;
}
#button2
{
  box-shadow: 0 9px #999;
}

#button3
{
  box-shadow: 0 9px #999;
}
#button2:hover
{
  color: black;
}
#button:active
{
  color: white;
}
.button:hover {/*Tabs on hovor*/
  color: black;
}
.button:active /*Tabs when clicked*/
{
  transform: translateY(10px);
}
#button1
{
  background-color: #4B7F52;
  transform: translateY(10px);
}
/* This is the end of the style for the buttons at the top*/

#introCoolPic /*Intro Pic --soccer*/
{
  float: left;
  width: 350px;
  height: 450px;
  border-radius: 1000px;
  margin-left: 0px;
  margin: 50px 70px 70px 70px;
}

/*Intro text (if reading this) on the first page for the stuff on the right*/
#meetMeIntroText
{
  display: inline-block;
  margin-top: 20px;
  padding-top: 20px;
  margin-bottom: 10px;
  font-size: 19px;
  font-family: 'Roboto', sans-serif;
  width: 400px;
  height: 400px;
}

/** Changes the hyperlink colors*/
a{
  color: blue;
}
a:visited
{
  color: blue;
}
/* This is the beginning on the animated icons on the first page */
.introTextPics img
{
  float: right;
  display: inline;
}
.levPics1/*Icons in meet me intro. THE ODD ONES MOVING TO THE LEFT*/
{
margin-top: 20px;
  width: 110px;
  height: 110px;
  position: relative;
  -webkit-animation-name: movesLeft;
  -webkit-animation-duration: 15s;
  -webkit-animation-iteration-count: infinite;
  -
  animation-name: movesLeft;
  animation-duration: 7s;
  animation-iteration-count: infinite;
}
<!--
@keyframes movesLeft {
  0%   {top:-10px; right: 50px;}
  50%  {top:-10px; right: 50px;}
  100% {top:-10px; right: 50px;}
}

.levPics2/*Icons in meet me intro. THE ODD ONES MOVING TO THE LEFT*/
{
  z-index: -1;
  padding-left: 9px;
  padding-right: 3px;
  width: 100px;
  height: 100px;
  position: relative;
  -webkit-animation-name: movesRight;
  -webkit-animation-duration: 15s;
  -webkit-animation-iteration-count: infinite;
  animation-name: movesRight;
  animation-duration: 7s;
  animation-iteration-count: infinite;
}
@keyframes movesRight {
  0%   {top:-110px; right: -390px;}
  50%  {top:-20px; right: -390px;}
  100% {top:-110px; right: -390px;}
}
/* The styling for the see me page */
.pictureFrames
{
  margin-left:auto;
  margin-right:auto;
  width:1000px;
}
.pictureFrames img
{
  position: relative;
  min-width: 100px;
  height: 350px;
  background: white;
  display: inline;
  float: left;
  margin: 10 0px 30px;
  padding: 10px 10px 30px;
  text-align: center;
  text-decoration: none;
  -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
  -moz-box-shadow: 0 4px 6px rgba(0,0,0,.3);
  box-shadow: 0 4px 6px rgba(0,0,0,.3);
  -webkit-transition: all .15s linear;
  -moz-transition: all .15s linear;
  transition: all .15s linear;
  z-index:0;
}
/* PushPins*/
.pushpin img
{
  height: 40px;
  width: 50px;
  position: relative;
  background: none;
  padding: inherit;
  min-width: inherit;
  margin: inherit;
}
/*Contact Page starts here */

#goodbyeText {
  width: 300px;
  margin-left: 150px;
  font-size: 50px;
  margin-bottom: 10px;
  font-family: 'Roboto', sans-serif;
}
/* closing text on contact page */
#closingText
{
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  height: 200px;
  margin-left: 250px;
  width: 500px;
}
/* tuker pick up */
#tuckerPickUp
{
  height: 440px;
  width: 350px;
  margin-left: 660px;
  margin-top: -500px;
  border-radius: 30px;
}
/* Form contact box on Contact Me Page */
label
{
  position: relative;
  display:block;
  margin-top: 40px;
  margin-bottom: 5px;
  margin-left: 150px;
  letter-spacing:0px;
  top: -70;
}
input, textarea
{
  margin-left: 150px;
  width:439px;
  height:27px;
  background:#efefef;
  border:1px solid #dedede;
  padding:10px;
  margin-top:-70px;
  font-size:0.9em;
  color:#3a3a3a;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  border-radius:5px;
}
input:focus, textarea:focus
{
  border:1px solid #97d6eb;
}
textarea
{
  resize: none;
  height:213px;
  background:url(images/textarea-bg.jpg) right no-repeat #efefef;
}
#submit
{
  width:127px;
  height:38px;
  display: block;
  border:none;
  margin-top:20px;
  margin-left: 300px;
  cursor:pointer;
}
#submit:hover
{
  opacity: 20;
}
.centered
{
  text-align: center;
  width: 100%;
}
.textarea
{
  width: 100%;
  height: 200px;
  resize: none;
}
input:focus, textarea:focus {
  border:1px solid #97d6eb;
}
/**
End of contact me box.
**/
#theSocialMediaIcon img
{
vertical-align: middle;
padding-bottom: 10px;
height: 65px;
width: 65px;


}
#theSocialMediaIcon
{
  white-space: nowrap;
 margin-top: -570px;
 margin-left:660px;


}
