
#wrapper {
  margin-left:auto;
  margin-right:auto;
  width:1000px;
}
#bodyAll
{
  background-color: #1dd1a1; /*backgroundColor*/
}
.allTabs /*Tabs*/
{
  width: 100%;
  overflow: hidden;
  display: inline-block;
  padding: 10px;
  background-color: inherit;
}
.button { /*Tabs*/
  width: 300px;
  overflow-x: none;
  position: relative;
  background-color: white;
  border-color: #000000;
  border-radius: 12px;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 26px;
  margin-right: 20px;
  cursor: pointer;
  box-shadow: 0 9px #999;
}
.button:hover {/*Tabs on hovor*/
  color: white;
}
.button:active /*Tabs when clicked*/
{
  transform: translateY(10px);
}
#button1
{
  background-color: #A569BD;
  transform: translateY(10px);

}

#introCoolPic /*Intro Pic*/
{
  float: left;
  width: 400px;
  height: 450px;
  border-radius: 1000px;
  margin-left: 0px;
  margin: 50px 70px 70px 70px;
}
/*Intro text on the first page for the stuff on the left*/
#meetMeIntroText
{
  display: inline-block;
  margin-top: 20px;
  padding-top: 20px;
  margin-bottom: 10px;
  font-size: 18px;
  width: 400px;
  height: 400px;
}

/* This is the beginning on the animated icons on the first page */
.introTextPics img
{
  float: right;
  display: inline;
}
.levPics1/*Icons in meet me intro. THE ODD ONES MOVING TO THE LEFT*/
{
margin-top: 20px;
  width: 110px;
  height: 110px;
  position: relative;
  -webkit-animation-name: movesLeft;
  -webkit-animation-duration: 15s;
  -webkit-animation-iteration-count: infinite;
  -
  animation-name: movesLeft;
  animation-duration: 7s;
  animation-iteration-count: infinite;
}
<!--
@keyframes movesLeft {
  0%   {top:-10px; right: 50px;}
  50%  {top:-10px; right: 50px;}
  100% {top:-10px; right: 50px;}
}

.levPics2/*Icons in meet me intro. THE ODD ONES MOVING TO THE LEFT*/
{
  z-index: -1;
  padding-left: 9px;
  padding-right: 3px;
  width: 100px;
  height: 100px;

  position: relative;
  -webkit-animation-name: movesRight;
  -webkit-animation-duration: 15s;
  -webkit-animation-iteration-count: infinite;
  animation-name: movesRight;
  animation-duration: 7s;
  animation-iteration-count: infinite;
}
@keyframes movesRight {
  0%   {top:-110px; right: -390px;}
  50%  {top:-20px; right: -390px;}
  100% {top:-110px; right: -390px;}
}
/* The styling for the see me page */
.pictureFrames
{
  margin-left:auto;
  margin-right:auto;
  width:1000px;
}
.pictureFrames img
{
  min-width: 100px;
  height: 350px;
  background: white;
  display: inline;
  float: left;
  margin: 10 0px 30px;
  padding: 10px 10px 30px;
  text-align: center;
  text-decoration: none;
  -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
  -moz-box-shadow: 0 4px 6px rgba(0,0,0,.3);
  box-shadow: 0 4px 6px rgba(0,0,0,.3);
  -webkit-transition: all .15s linear;
  -moz-transition: all .15s linear;
  transition: all .15s linear;
  z-index:0;
  position: relative;
}
/*Contact Page starts here */
#welcomeTextHey{
  font-size: 40px;
}

/*Text at top of the contact me page*/
#topTextContactMe
{
  margin-top: 00px;
  margin-bottom: 000px;
  margin-right: 00px;
  margin-left: 00px;
  padding-top: 10px;
  font-size: 20px;
  align: left;
  height: 200px;
  font-family:  sans-serif;

}

#tuckerPickUp
{
  height: 440px;
  width: 350px;
  margin-left: 500px;
  margin-top: -510px;
  border-radius: 30px;
}
/* Form contact box on Contact Me Page */
#contactForm
{
  width:1000px;
}
label
{
  display:block;
  margin-top: 20px;
  margin-bottom: 5px;
  margin-left: 0px;
  letter-spacing:2px;
}
input, textarea
{
  margin-top: -700px;
  width:439px;
  height:27px;
  background:#efefef;
  border:1px solid #dedede;
  padding:10px;
  margin-top:3px;
  font-size:0.9em;
  color:#3a3a3a;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  border-radius:5px;
}
input:focus, textarea:focus
{
  border:1px solid #97d6eb;
}
textarea
{
  resize: none;
  height:213px;
  background:url(images/textarea-bg.jpg) right no-repeat #efefef;
}
#submit
{
  width:127px;
  height:38px;
  display: block;
  border:none;
  margin-top:20px;
  margin-left: 150px;
  cursor:pointer;
}
#submit:hover
{
  opacity: 20;
}
.centered
{
  text-align: center;
  width: 100%;
}
.textarea
{
  width: 100%;
  height: 200px;
  resize: none;
}
input:focus, textarea:focus {
  border:1px solid #97d6eb;
}
/**
End of contact me box.
**/
#github
{
  position: relative;
    padding-right:5px;
  height: 65px;
  width: 65px;
  top: -450px;
  left:950px;
}
#facebook
{
  padding-right:0px;
  position: relative;
  height: 81px;
  width: 81px;
  top: -375px;
  left:950px;

}
#twitter
{
    padding-right:5px;
  position: relative;
  height: 62px;
  width: 62px;
  top: -325px;
  left:790px;
}

#instagram{
  position: relative;
    padding-right:5px;
  height: 63px;
  width: 63px;
  top: -250px;
  left:800px;
}

#resume
{
  position: relative;
  height: 63px;
  width: 63px;
  top: -200px;
  left:650px;
